// Style variables
$nav-button-color: #00838F;

// Color schema
$col-primary-blue: blue;
$col-secondary-blue: lightblue;
$col-primary-red: red;
$col-neutral-text: darkgrey;
$col-neutral-placeholder: lightgrey;
$col-neutral-label: grey;
$col-inactive-textbox-outline: lightgrey;
$col-inactive-textbox-fill: lightcyan;
$col-primary-white: white;
$col-primary-black: black;

// Font sizes
$text-heading: 28px;
$text-btn-primary: 22px;
$text-navigation: 14px;
$text-body: 14px;
$text-caption: 12px;
$text-btn-secondary: 12px;
