<div class="lang-selector-absolute-container"><lang-selector></lang-selector></div>
<div class="auth row center-xs middle-xs">
  <form
      class="signin-form col-xs-6 shadow-2"
      #authForm="ngForm"
      (submit)="authenticate()"
  >
    <div class="title-container" translate>{{'login.title'}}</div>
    <div class="warn-container">
      <span *ngIf="errorMessage" class="warn-message">
        {{errorMessage}}
        <i title="Clear" class="fa fa-close" size="lg" (click)="clearError()"></i>
      </span>
    </div>
    <div class="clear-container">
      <input
        translate
        autofocus="!email"
        type="email"
        name="email"
        required
        [(ngModel)]="user.email"
        [placeholder]="'login.email_placeholder' | translate"
        #email="ngModel"
        autoComplete="new-email"
      >
      <input
        required
        translate
        type="password"
        name="password"
        [(ngModel)]="user.password"
        [placeholder]="'login.password_placeholder' | translate"
        #password="ngModel"
        autoComplete="new-password"
      >
    </div>
    <div class="actions col-xs-12">
      <button
        translate
        type="submit"
        class="btn-large"
        [disabled]="!authForm.form.valid"
      >
        {{'login.sign_in'}}
      </button>
      <div class="auth-links-container">
        <a
          translate
          class="link"
          (click)="goToReset()"
        >
          {{'login.forgot_password'}}
        </a>
      </div>
    </div>
  </form>
</div>
